.main {
  min-height: 80vh;
  background-color: var(--bgColor);
}

.template {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1290px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

select {
  width: 160px;
  margin: 16px;
  font-size: 18px;
  padding: 8px;
  border: 0px;
}

.searchWrapper {
  background-color: var(--inputColor);
  width: 350px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.lens {
  background-color: var(--inputColor);
  border: 0;
}

input {
  font-size: 18px;
  border: 0px;
  height: 40px;
  width: 300px;
}