.main {
  min-height: 80vh;
  background-color: var(--bgColor);
}

.template {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1290px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

select {
  width: 160px;
  margin: 16px;
  font-size: 14px;
  padding: 8px;
  border-radius: 0;
  border-color: var(--elementsColor);
  box-shadow: 0px 3px 10px rgb(199, 199, 199);
}