:root {
  --textColor: hsl(200, 15%, 8%);

  --inputColor: hsl(0, 0%, 100%);

  --bgColor: hsl(0, 0%, 97%);

  --elementsColor: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
  --textColor: hsl(0, 0%, 100%);

  --inputColor: hsl(0, 0%, 100%);

  --bgColor: hsl(207, 26%, 17%);

  --elementsColor: hsl(209, 23%, 22%);
}